div.chat{
    margin: 0;
    padding: 0;
}


/* Side Chat */
div.side-chat{
    background-color: white;
    padding-top: 45px;
    font-family: Rubik;
  }
  
  h5.title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
    /* text-align: center; */
    letter-spacing: -0.165px;
    color: #7E98DF;
  }
  
  input.form-search{
    background: #FAFAFA;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 7px;
  }
  
  img.user-img{
    width: 54px;
    height: 54px;
    border-radius: 20px;
    position: relative;
    left: -10px;
    top: -10px;
  }
  
  p.user-name{
    cursor: pointer !important;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #232323;
    width: 110px;
    position: relative;
    left: -30px;
    float: left;
  }
  
  p.message{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7E98DF;
    position: relative;
    left: -30px;
    float: left;
    top: -10px;
  }

  div.btn-menu{
    cursor: pointer;
    position: relative;
    top: -40px;
    right: -220px;
  }

  div.drop-menu{
    background: #7E98DF;
    border-radius: 35px 10px 35px 35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
  }

  div.drop-menu button{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
  }

  /* Akhir Sidechat */


  @media only screen and (max-width: 600px) {
    div.side-chat{
      background-color: white;
      padding-top: 45px;
      font-family: Rubik;
    }
    
    h5.title{
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 29px;
      line-height: 34px;
      letter-spacing: -0.165px;
      color: #7E98DF;
      margin-left: 30px;
    }

    div.btn-menu{
      cursor: pointer;
      position: relative;
      float: right;
      right: 45px;
    }
  
    div.drop-menu{
      background: #7E98DF;
      border-radius: 35px 10px 35px 35px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.165px;
      color: #FFFFFF;
    }
  
    div.drop-menu button{
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.165px;
      color: #FFFFFF;
    }

    input.form-search{
      display: none;
    }

    img.user-img{
      margin-top: 25px;
      width: 54px;
      height: 54px;
      border-radius: 30px;
      margin-bottom: 30px;
      margin-left: 40px;
    }
    p.user-name{
      cursor: pointer !important;
      font-family: Rubik;
      font-style: normal;
      font-weight: 800;
      font-size: 4vw;
      /* line-height: 26px; */
      letter-spacing: -0.165px;
      color: #232323;
      margin-left: 40px;
      margin-top: 20px;
    }

    p.message{
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 4vw;
      line-height: 18px;
      letter-spacing: -0.165px;
      color: #7E98DF;
      margin-left: 40px;
      /* margin-top: 10px; */
    }
    p.time{
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 4vw;
      line-height: 19px;
      text-align: center;
      letter-spacing: -0.165px;
      color: #848484;
      margin-top: 20px;
    }

    p.unread{
      margin-left: 30px;
    }
  }