div.chat{
    margin: 0;
    padding: 0;
}


/* Side Chat */
div.side-chat{
    background-color: white;
    padding-top: 45px;
    font-family: Rubik;
  }
  
  h5.title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
    /* text-align: center; */
    letter-spacing: -0.165px;
    color: #7E98DF;
  }
  
  input.form-search{
    background: #FAFAFA;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 7px;
  }
  
  img.user-img{
    width: 54px;
    height: 54px;
    border-radius: 20px;
    position: relative;
    left: -10px;
    top: -10px;
  }
  
  p.user-name{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #232323;
    width: 110px;
    position: relative;
    left: -30px;
    float: left;
  }
  
  p.message{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7E98DF;
    position: relative;
    left: -30px;
    float: left;
    top: -10px;
  }

  .headline-chat{
    background-color: white;
    height: 100px;
    border: none;
  }

  input.input-chat{
    background: #FAFAFA;
    border-radius: 15px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.165px;
    color: #848484;
  }

  div.input-text{
    position:fixed;
    /* left:10px; */
    bottom:10px;
    width: 72%;

  }

  button.btn-send{
    background-color: transparent;
  }

  ul.list-group{
    overflow-y: auto; 
    max-height: 640px;
  }
  ul.list-group::-webkit-scrollbar{
    border: 0.5px transparent solid;
    border-radius: 8px;
  }
  ul.list-group::-webkit-scrollbar-thumb {
    background: transparent;
  }
  ul.list-group::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .user-img-chat{
    width: 50px;
    height: 50px;
    border-radius: 20px;
 
  }

  .list-group li{
    border: none;
  }

  div.btn-menu{
    position: relative;
    top: -40px;
    right: -220px;
  }

  div.drop-menu{
    background: #7E98DF;
    border-radius: 35px 10px 35px 35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
  }

  div.drop-menu button{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
  }

  img.receiver-profile{
    width: 64px;
    height: 64px;
    border-radius: 20px;
    
  }
  
  /* .headline-chat{
    background-color: red;
    width: 100%;
    margin-top: -30px;
  } */

  li.headline-chat{
    margin-top: 15px;
    /* position: fixed;
    top: 0; */
  }

  p.rec-name{
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #232323;
    position: relative;
    top: -45px;
    left: 85px;
  }

  .msg-style li{
    background:#7E98DF;
    border-radius: 35px 35px 35px 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: white;
    margin-top: 15px;
   }

  p.sender{
    background:#7E98DF;
    border-radius: 35px 35px 35px 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: white;
    margin-top: 15px;
    width: fit-content;
    height: 63px;
    padding: 1.3vw 30px;
  }

  p.receiver{
    background: #FAFAFA;
    border-radius: 35px 35px 35px 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: black;
    margin-top: 15px;
    
    text-align:end !important;
    width: fit-content;
    height: 63px;
    padding: 1.3vw 30px;
  }
 




  /* Akhir Sidechat */


  @media only screen and (max-width: 600px) {
    

  }